<div class="col-md-6">
  <h2>All Locations</h2>
    #foreach ($location in $locations)
      <a href="/animal/$location.getId()" class="thumbnail">
        <h3>$location.getName()<span><!--$animal.isEndangered()--></span></h3>
        <h4>Animals Sighted in this location:</h4>
      </a>
    #end
</div>
