<div class="col-md-4">
  <h2>Rangers:</h2>
    #foreach ($ranger in $rangers)
      <a href="/ranger/$ranger.getId()" class="thumbnail">

        <h4>$ranger.getName()<span><!--$ranger.isEndangered()--></span></h4>
        <p>Click for details</p>
      </a>
    #end
</div>
