<hr>
#if($sighting-reports)
  #parse($sighting-reports)
#end
#if($sightings)
  #parse($sightings)
#end
#if($animals)
  #parse($all-animals)
#end
#if($all-rangers)
  #parse($all-rangers)
#end
#if($add-ranger)
  #parse($add-ranger)
#end
#if($add-animal)
  #parse($add-animal)
#end
<hr class="col-md-12">
