<hr>
#if($sightings)
  #parse($sightings)
#end
#if($allsightings)
  #parse($allsightings)
#end
#if($animals)
  #parse($all-animals)
#end
#if($endangered_Animals)
  #parse($endangered_Animals)
#end
<hr>
<div>
#if($all-locations)
  #parse($all-locations)
#end
#if($add-ranger)
  #parse($add-ranger)
#end
#if($all-rangers)
  #parse($all-rangers)
#end
</div>
#if($add-animal)
  #parse($add-animal)
#end
#if($add-location)
  #parse($add-location)
#end
