<h1>Ranger: $ranger.getName()</h1>
<h3>Badge Number: $ranger.getId()</h3>

#if($ranger.getSightings().size() == 0)
  <h3>No Sightings Reports thus far.</h3>
#else
  #foreach($sighting in $ranger.getSightings())
    Location: $sighting.getLocationId()
    Reported by: $sighting.getRangerId()
    ID: >$sighting.getId()
  #end
#end

#parse($ranger-sightings)
#if($all-rangers)
<hr>
<h2>Other Rangers</h2>
#parse($all-rangers)
#end
